<app-mainmenu></app-mainmenu>
<button class="btn btn-primary" (click)="clickMe()" > click me </button>

<div style="font-family: verdana; font-size: 11px">
        <b><a name="SupportedOS">Supported OS List</a></b>
        <br />
        <ul>
            <li>Windows 8.1,10</li>
            <li>Mac OS X v10.15.5 (Catalina)</li>
            
			</ul>
        <br />
        <b><a name="SupportedBrowser">Supported Browser List</a></b>
        <br />
        <ul>

            <li>Internet Explorer 11.0</li>
            <li>Microsoft Edge 44 or higher</li>
			<li>Google Chrome 83.0 or higher</li>
            <li>Firefox 78 or higher</li>
            <li>Safari 13.0 or higher is the supported and recommended browser for Mac OS</li>
        </ul>
        <br />
        <b><a name="SupportedBrowser">Mobile Devices</a></b>
        <br />
        <ul>
            <li>iOS version 13</li>
            <li>Android version 10</li>
            <li>Support for viewing video on iPad and Android-based devices requires EMS 3GP DVRs.</li>
        </ul>
        <br />
        <b><a name="SupportedBrowser">Additional Plugins and Browser Requirements</a></b>
        <br />
        <ul>
            <li>Active X (required for live view in IE)</li>
            <li>SIMULATIONiQ Enterprise site must be listed as a "trusted site"</li>
            
        </ul>
        <br />
        <hr style="width:100%" />
        
        <a id="IELive">
			<br />
            <b>Instruction to set up EMS Video Player to watch Live Video in Internet Explorer.</b><br>
            <i>(For EMS Player in Internet Explorer only)</i>
        </a>
        <ol>
            <li>From the <b>Tools</b> menu, select <b>Internet Options.</b></li>
            <li>From the <b>Security</b> tab, click <b>Custom Level.</b></li>
            <li>From the <b>Initialize and script ActiveX controls not marked as safe for scripting (not secure)</b> setting, click <b>Enable (not secure).</b></li>
        </ol>
        <a id="jwPlayer">
            <b>Instruction to enable Flash Player to watch Playback Video in Chrome.</b><br />
        </a>
        <ol>
            <li>Open Chrome Browser.</li>
            <li>To the left of the web address, click the <b>Lock</b> or <b>Info</b> icon.</li>
            <li>At the bottom, click <b>Site Settings</b>.</li>
            <li>In the new tab, to the righ of "Flash," click the <b>Down arrow</b> and select <b>Allow</b>.</li>
            <li>Go back to the site and reload the page.</li>
        </ol>
    </div>